table {
    border : 1px solid black;
    padding: 5pt;
}

th {
    
    background-color: red;
    color: white;
    padding: 5pt;
}

tr:nth-child(odd) {
    background-color: lightpink;
}

td {
    border : 1px solid black;
    padding: 5pt;
}
