<div ng-init="shop.getAllPokemonPrices()">
    <div class="wrapper">
        <section class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="banner_pic"><img src="images/title_banner.png" alt=""/>  </div>
                        <div class="aro"><a href="#"><img src="images/aro_big.png" alt=""/></a> </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="main_bdy" style="background: url(images/section_bg.jpg)no-repeat center center; background-size:cover;"> 
            <div class="container-innr">
                <div class="main_bdy_in">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="shop_left">
                                <h2>Poke Mart</h2>
                                <div class="shop_left_in">
                                    <ul>
                                        <li ng-repeat="pokemon in shop.pokemonList">
                                            <div class="shop_box">
                                                <h4>Pokemon #{{pokemon.pokedexId}}</h4>
                                                <img ng-src="images/sprites/{{pokemon.pokedexId}}.png" alt="" />
                                                <div class="prc_box">
                                                    <h6>Price</h6>
                                                    <span>{{pokemon.price}}</span>
                                                </div>
                                                <a ng-click="shop.buyPokemon(pokemon.pokedexId)">Buy pokemon</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-md-3 col-sm-4">
                            <div class="shop_rit">
                                <h3>SHOPPING CART</h3>
                                <table class="table">
                                    <tr>
                                        <th>Pokemon</th>
                                        <th>Price</th>
                                        <th class="fxd1">Qua.</th>
                                    </tr>
                                    <tr>
                                        <td>Bulbasaur</td>
                                        <td>100</td>
                                        <td class="fxd2">2</td>
                                    </tr>
                                    <tr>
                                        <td>Charizard</td>
                                        <td>100</td>
                                        <td class="fxd2">1</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td class="fxd2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td class="fxd2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td class="fxd2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td class="fxd2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td class="fxd2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td class="fxd2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td class="fxd2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td class="fxd2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td class="fxd2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td class="fxd2">&nbsp;</td>
                                    </tr>
                                    <tr class="ttl">
                                        <th class="fxd3">Total price:</th>
                                        <th> 1100</th>
                                        <th class="fxd4"> 3</th>
                                    </tr>

                                </table>
                            </div>
                        </div>-->
                    </div>	
                </div>
            </div>
        </section>
    </div>
</div>