<h1>My Teams <span class="badge">{{app.team.getTeamList().length}}</span></h1>
<uib-accordion ng-hide="app.team.getTeamList().length">
    <uib-accordion-group ng-repeat="team in app.team.getTeamList() track by $index">
        <uib-accordion-heading>{{team.name}} (<span>{{team.pokemonList.length || 0}}</span>)</uib-accordion-heading>
        <p class="text-muted" ng-show="!!!team.pokemonList.length">This team has no Pokémon.</p>
        <div class="row">
            <div class="col-sm-2" ng-repeat="pokemon in team.pokemonList track by $index">
                <a href="#/pokemon/{{pokemon.pokedexId}}" uib-tooltip="Click to show details">
                    <img ng-src="images/sprites/{{pokemon.pokedexId}}.png" class="img-responsive center-block" alt="#{{pokemon.pokedexId}}" title="#{{pokemon.pokedexId}}">
                </a>
            </div>
        </div>
    </uib-accordion-group>
</uib-accordion>
<h4 ng-hide="app.team.getTeamList().length > 0">You have no teams.</h4>
