<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MyPokéTrainer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">   
        <link rel="stylesheet" href="app/app.css">
        <link rel="icon" href="images/favicon.png">
        <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
        -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
        <script src='bower_components/angular-animate/angular-animate.min.js'></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/index/index.js"></script>
        <script src="app/teams/teams.js"></script>
        <script src="app/pokemon/pokemon.js"></script>
        <script src="app/shop/shop.js"></script>
        <script src="app/trainers/trainers.js"></script>
        <script src="app/funds/funds.js"></script>
        <script src="app/docs/docs.js"></script>
        <script src="app/components/auth.js"></script>
        <script src="app/components/filters.js"></script>
        <script src="app/components/directives.js"></script>
        <script src="app/components/factories.js"></script>
        <script src="app/components/services.js"></script>
        <script src="app/components/controllers.js"></script>

    </head>
    <body ng-controller="AppCtrl as app">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" ng-controller="AppLoginCtrl">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">
                        <span><img src="images/navicon.png" alt="MyPokéTrainer" title="MyPokéTrainer"></span>
                        <div class="hidden-sm">MyPokéTrainer</div>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#/" uib-tooltip="Home" tooltip-placement="bottom"><div class="hidden-sm">Home</div><span class="glyphicon glyphicon-home visible-sm"></span></a></li>
                        <li><a href="#/teams" uib-tooltip="My Teams" tooltip-placement="bottom" ng-show="app.user.getIsAuthenticated()"><div class="hidden-sm">My Teams <span class="badge">{{app.team.getTeamList().length}}</span></div><span class="glyphicon glyphicon-list-alt visible-sm"></span></a></li>
                        <li><a href="#/shop" uib-tooltip="PokéMart" tooltip-placement="bottom" ng-show="app.user.getIsAuthenticated()"><div class="hidden-sm">PokéMart</div><span class="glyphicon glyphicon-shopping-cart visible-sm"></span></a></li>
                        <li><a href="#/trainers" uib-tooltip="Trainers" tooltip-placement="bottom" ng-show="app.user.getIsAuthenticated()"><div class="hidden-sm">Trainers</div><span class="glyphicon glyphicon-user visible-sm"></span></a></li>
                        <li><a href="#/funds" uib-tooltip="Funds" tooltip-placement="bottom" ng-show="app.user.getIsAuthenticated()"><div class="hidden-sm">Funds</div><span class="glyphicon glyphicon-credit-card visible-sm"></span></a></li>
                        <li><a href="#/docs" uib-tooltip="Documentation" tooltip-placement="bottom"><div class="hidden-sm">Documentation</div><span class="glyphicon glyphicon-paperclip visible-sm"></span></a></li>
                    </ul>
                    <div>
                        <form class="navbar-form navbar-right" role="form" ng-show="!app.user.getIsAuthenticated()" ng-submit="login()"  >
                            <div class="form-group">
                                <input type="text" style="width:10em;" placeholder="User name" class="form-control"
                                       ng-model="user.username">
                            </div>
                            <div class="form-group">
                                <input type="password" style="width:10em;" placeholder="Password" class="form-control"
                                       ng-model="user.password">
                            </div>
                            <button type="submit" class="btn btn-danger">Sign in</button>
                        </form>
                        <div class="navbar-right" ng-show="app.user.getIsAuthenticated()">
                            
                            <p class="navbar-text">Logged on as: <a href="#/user/{{app.user.getUsername()}}">{{app.user.getUsername()}} ({{app.user.getPoints()}} pts)</a></p>

                            <button type="submit" class="btn btn-danger navbar-btn"  ng-click="logout()">Logout</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
            <div ng-view></div>
        </div>

        <script type="text/ng-template" id="errorModal.html">
            <div class="modal-header">
            <h3 class="modal-title">Error!</h3>
            </div>
            <div class="modal-body">
            <p>{{error}}</p>
            </div>
            <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()" autofocus>OK</button>
            </div>
        </script>

    </body>
</html>
